
body {
  background-color: #FFF2E8;
  color: #3A1FD2;
  /* min-height: 100vh; */
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  /* display: flex; */
  /* flex-direction: column; */
}

html {
    height: -webkit-fill-available;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  font-family: 'Poppins', sans-serif;

  /* font-family: 'Lora', serif; */
}

a {
  color: #3A1FD2;
  text-decoration: none;
}

a:hover {
  color: #D0A7A7;
}

/* navbar */

.nav-item {
  margin: 5px;
  color: #3A1FD2;
}

.nav-link {
  color: #3A1FD2;
}

.nav-item:active {
  color: #3A1FD2 !important;
}

.nav-link:hover {
  color: #3A1FD2  !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 1px;
  border-bottom: 4px solid #D0A7A7;
  font-weight: bold;
  transition: opacity 0.3s ease;

}

/* body */
.fa {
  margin: 6px;
}

/* wave */
.wave {
  width: 500px;
  height: 300px;
}

.path {
  stroke: #D0A7A7;
  stroke-width: 5px;
  stroke-linecap:round;
  fill: none;
}

/* Projects */
.project {
  /* background-color: #D0A7A7 ; */
}

.project-content {
  /* background-color: green; */
}

.project-text {
  /* background-color: #D0A7A7 */
}

.project-icons {
  
}

/* footer */

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;
  color:  #3A1FD2;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #3A1FD2;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #D0A7A7;
}
