
body {
  background-color: #FFF2E8;
  color: #3A1FD2;
  min-height: -webkit-fill-available;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size:40px;
  font-weight: 100;
}

h3 a:hover {
  font-weight: 400;
  color: #3A1FD2!important;
}

h4 {
  color: #E35E41;
  font-weight: 100;
}

p {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #3A1FD2;
  text-decoration: none;
}

a:hover {
  color: #E35E41;
}

.cta {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #E2967D;
  transition: background 0.3s ease;
  border: none;
}

.cta:hover {
  background: #E35E41;
  color: white;
}

/* --- NAVBAR ---- */

.nav-item,
.navbar-nav .nav-link  {
  margin: 5px;
  color: #3A1FD2;
}

.navbar-nav .nav-link.active {
  color:#3A1FD2;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 1px;
  border-bottom: 4px solid #E35E41;
  font-weight: bold;
}

.nav-link:hover{
  color: #3A1FD2;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 1px;
  border-bottom: 4px solid #E2967D;
  transition: opacity 0.3s ease;
}

/* --- BODY --- */

.fa {
  margin: 6px;
}

/* --- WAVE --- */

.wave {
  width: 500px;
  height: 300px;
}

.path {
  stroke: #E2967D;
  stroke-width: 5px;
  stroke-linecap:round;
  fill: none;
}

/* --- PROJECTS --- */

.projects-right {
  border-left: 4px solid #E35E41;
}

.projects-left {
  border-right: 4px solid #E35E41;
}

/* --- FOOTER --- */


.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;
  color:  #3A1FD2;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #3A1FD2;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #E35E41;
}

.footer-copyright {
  font-size: x-small;
}
